@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

* {
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: "Space Grotesk", sans-serif;
    background-color: white;
}

.header {
    align-items: center;
    width: 100%;
    justify-content: space-between;
    padding: 30px 10px;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    background-color: white;
    z-index: 1000;
    display: flex;
}

.logo {
    height: 40px;
}

.text-above {
    align-items: center;
    display: flex;
}

.menu {
    text-decoration: none;
    font-size: 20px;
    margin-left: 30px;
    padding: 10px 15px;
    border: 2px solid transparent;
    transition: transform 200ms ease;
    color: black;
}

.menu:hover {
    border: 2px solid black;
    border-radius: 10px;
    transform: scale(1.1);
}
.hamburger {
    display: none;
}

@media (max-width: 769px) {
    .hamburger {
        display: block;
        font-size: 24px;
        cursor: pointer;
        right: 100px;
        position: absolute;
    }
    .text-above {
        display: none;
        flex-direction: column;
        gap: 15px;
        position: absolute;
        top: 60px;
        right: 20px;
        background: white;
        padding: 15px;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    }
    .text-above.active {
        display: flex;
    }
}

.des {
    display: flex;
    padding: 100px 40px;
    max-width: 1200px;
    width: 100%;
    margin-top: 100px;
    margin-left: 20px;
}

.text-content {
    max-width: 600px;
}

.text1 {
    order: 1;
    font-size: 55px;
    max-width: 600px;
}

.img-mobile {
    display: none;
    order: 2;
}

.img-desktop {
    position: relative;
    display: block;
    max-width: 100%;
    height: auto;
    left: 250px;
}

.text2 {
    font-size: 20px;
    max-width: 500px;
    order: 3;
    padding-top: 50px;
}

.button1 {
    order: 4;
}

.button1 {
    background-color: black;
    color: white;
    height: 70px;
    width: fit-content;
    padding: 0 20px;
    border-radius: 14px;
    font-size: 20px;
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    font-family: "Space Grotesk", sans-serif;
}

.button1:hover {
    transform: scale(1.1);
}

@media (max-width: 769px) {
    .des {
        margin-left: 0px;
    }

    .text-content {
        max-width: 450px;
    }

    .text1 {
        font-size: 36px;
        max-width: 400px;
    }
    .img-mobile {
        display: block;
        max-width: 300px;
    }

    .img-desktop {
        display: none;
    }

    .text-content {
        display: block;
    }

    .button1 {
        max-width: 400px;
        width: 100%;
    }
}

.cl {
    display: flex;
    position: absolute;
    flex-wrap: wrap;
    margin-left: 70px;
    margin-top: 50px;
    justify-content: center;
    gap: 120px;
    align-items: center;
}

@media (max-width: 769px) {
    .cl {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        gap: 30px;
        margin-top: -10px;
        margin-left: 20px;
    }
}

.services {
    margin-top: 230px;
    padding-left: 68px;
    display: flex;
    margin-bottom: -100px;
}

.services h1 {
    font-size: 45px;
    background-color: #B9FF66;
    max-width: fit-content;
    height: auto;
    border-radius: 5px;
    
}

.text3 {
    position: absolute;
    margin-left: 210px;
    font-size: 20px;
    max-width: 700px;
}

@media (max-width: 769px) {
    .services {
        margin-top: 300px;
        margin-left: 40px;
    }
    .text3 {
        text-align: center;
        margin-top: 100px;
        margin-left: -100px;
        max-width: 450px;
    }
}

.card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    grid-template-columns: repeat(2, 1fr);
    gap: 100px;
    padding: 50px;
    margin-top: 180px;
    justify-items: center;
}


/* card 1*/

.card-white {
    background-color: #F3F3F3;
    width: 650px;
    height: 340px;
    border: 1px solid #000;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0px 6px 0px #000;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: transform 200ms ease;
}

.card-white:hover{
    transform: scale(1.05);
}

.card-title {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 20px;
}

.highlight1{
    display: flex;
    background-color: #B9FF66;
    padding: 4px 8px;
    border-radius: 4px;
}
.highlight-1 {
    position: absolute;
    margin-top: 40px;
    background-color: #B9FF66;
    padding: 4px 8px;
    border-radius: 4px;
}


.timg1 {
    right: 10px;
    width: 300px;
    position: absolute;
    height: auto;
}

.card-footer {
    position: absolute;
    display: flex;
    align-items: center;
    font-size: 30px;
    color: #000;
    gap: 6px;
    bottom: 40px;
}

.card-footer span {
    font-weight: 500;
}

.arrow {
    width: 60px;
    height: auto;
}

/* card 1 end*/

/*card 2*/

.card-green {
    background-color: #B9FF66;
    width: 650px;
    height: 340px;
    border: 1px solid #000;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0px 6px 0px #000;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: transform 200ms ease;
}

.card-green:hover{
    transform: scale(1.05);
}

.card-title1 {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 20px;
}

.highlight2{
    display: flex;
    background-color: white;
    padding: 4px 8px;
    border-radius: 4px;
}
.highlight-2 {
    position: absolute;
    margin-top: 40px;
    background-color: white;
    padding: 4px 8px;
    border-radius: 4px;
}


.timg2 {
    right: 10px;
    width: 300px;
    position: absolute;
    height: auto;
}

.card-footer1 {
    position: absolute;
    display: flex;
    align-items: center;
    font-size: 30px;
    color: #000;
    gap: 6px;
    bottom: 40px;
}

.card-footer1 span {
    font-weight: 500;
}

.arrow1 {
    width: 60px;
    height: auto;
}

/*card2 end*/

/*card3*/

.card-black {
    background-color: #191A23;
    width: 650px;
    height: 340px;
    border: 1px solid #000;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0px 6px 0px #000;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: auto;
    justify-content: space-between;
    transition: transform 200ms ease;
}

.card-black:hover{
    transform: scale(1.05);
}

.card-title2 {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 20px;
}

.highlight3{
    display: flex;
    background-color: white;
    padding: 4px 8px;
    border-radius: 4px;
}

.highlight-3 {
    position: absolute;
    margin-top: 40px;
    background-color: white;
    padding: 4px 8px;
    border-radius: 4px;
}


.timg3 {
    right: 10px;
    width: 300px;
    position: absolute;
    height: auto;
}

.card-footer2 {
    position: absolute;
    display: flex;
    align-items: center;
    font-size: 30px;
    color: white;
    gap: 6px;
    bottom: 40px;
}

.card-footer2 span {
    font-weight: 500;
}

.arrow2 {
    width: 60px;
    height: auto;
}

/*end of every card :(*/

/*card mobile*/

@media (max-width: 769px) {
  .card-container {
    flex-direction: column;
    gap: 40px;
    padding: 20px;
    margin-top: 100px;
    align-items: center;
    margin-top: 280px;
  }

  .card-white,
  .card-green,
  .card-black {
    width: 100%;
    max-width: 90vw;
    height: auto;
    padding: 20px;
  }

  .card-title,
  .card-title1,
  .card-title2 {
    font-size: 22px;
    margin-bottom: 16px;
  }

  .highlight-1,
  .highlight-2,
  .highlight-3 {
    font-size: 24px;
    margin-top: 45px;
  }

  .highlight1,
  .highlight2,
  .highlight3 {
    font-size: 24px;
    margin-top: 10px;
  }

  .timg1,
  .timg2,
  .timg3 {
    position: static;
    width: 100%;
    max-width: 100%;
    margin-top: 20px;
  }

  .card-footer,
  .card-footer1,
  .card-footer2 {
    position: static;
    font-size: 20px;
    margin-top: 20px;
  }

  .arrow,
  .arrow1,
  .arrow2 {
    width: 30px;
  }
}


.card-out{
    background-color: #F3F3F3;
    border-radius: 50px;
    width: auto;
    max-width: 1350px;
    margin-left: 70px;
    height: auto;
    max-height: 350px;
    justify-content: left;
    padding: 30px;
    margin-top: 100px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    overflow: visible;
}

.card-out h1 {
    margin-top: 30px;
    font-size: 40px;
}

.card-out p {
    position: absolute;
    width: 100%;
    max-width: 450px;
    font-weight: 200px;
    margin-top: 100px;
}

.card-out button{
    background-color: black;
    color: white;
    font-size: 20px;
    bottom: 50px;
    position: absolute;
    max-width: 250px;
    width: 100%;
    max-height: 70px;
    height: 100%;
    border-radius: 10px;
    transition: transform 200ms ease;
}

.card-out button:hover{
    transform: scale(1.1);
}

.card-out img{
    position: relative;
    left: 250px;
    bottom: 50px;
}

@media (max-width: 769px) {
    .card-out{
        min-height: 550px;
        height: 100%;
        margin-left: 30px;
        max-width: 370px;
        width: 100%;
    }

    .card-out h1{
        font-size: 35px;
        max-width: 300px;
    }

    .card-out p{
        margin-top: 150px;
        font-size: 25px;
        max-width: 280px;
    }

    .card-out img{
        display: none;
    }

    .card-out button{
        margin-top: 400px;
        max-width: 300px;
    }
}

.small-text{
    margin-top: 50px;
    padding: 50px;
    display: flex;
}

.small-text h1{
    font-size: 45px;
    background-color: #B9FF66;
    max-width: fit-content;
    height: auto;
    border-radius: 5px;
}

.small-text p{
    position: absolute;
    margin-left: 300px;
    font-size: 20px;
    max-width: 500px;
}

@media (max-width: 769px) {
    .small-text h1{
        margin-left: 30px;
    }
    .small-text p{
        text-align: center;
        margin-top: 70px;
        margin-left: -30px;
        max-width: 800px;
        width: 90%;
    }
}

/*black horizontal*/

.black-horizontal {
    position: relative;
    background-color: black;
    border-radius: 30px;
    color: white;
    max-height: 500px;
    height: 100%;
    max-width: 1400px;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-left: 40px;
    font-size: 20px;
    margin-top: 100px;
}

.black-horizontal-mobile {
    overflow: visible;
    display: flex;
}

.black-horizontal-text{
    font-weight: lighter;
    max-width: 300px;
    margin: 50px;
    text-align: left;
}

.black-horizontal-text h5{
    font-size: 20px;
    font-weight: lighter;
}

.black-horizontal-text p {
    margin-top: 20px;
}

.black-horizontal-text img{
    position: absolute;
    margin-left: 120px;
    bottom: 50px;
}

.black-horizontal-text2{
    font-weight: lighter;
    max-width: 500px;
    width: 100%;
    max-height: 200px;
    margin-top: 50px;
    padding-left: 50px;
    border-left: 1px solid white;
    border-right: 1px solid white;
    padding-right: 50px;
    text-align: left;
}

.black-horizontal-text2 h5{
    font-size: 20px;
    font-weight: lighter;
}

.black-horizontal-text2 img{
    position: absolute;
    margin-left: 120px;
    bottom: 50px;
}

.black-horizontal-text2 p {
    margin-top: 50px;
}

.black-horizontal-text3{
    font-weight: lighter;
    max-width: 300px;
    margin: 50px;
    text-align: left;
}

.black-horizontal-text3 h5{
    font-size: 20px;
    font-weight: lighter;
}

.black-horizontal-text3 p {
    margin-top: 20px;
}

.black-horizontal-text3 img{
    position: absolute;
    margin-left: 120px;
    bottom: 50px;
}


@media (max-width: 768px) {
    .black-horizontal {
        max-height: 800px;
        height: 100%;
        max-width: 1000px;
        width: 80%;
    }
    
    .black-horizontal-mobile {
        overflow-x: auto;
        overflow-y: hidden;
        display: flex;
        gap: 20px;
        scroll-behavior: smooth;
    }

    .black-horizontal-text img,
    .black-horizontal-text2 img,
    .black-horizontal-text3 img {
        position: static;
        margin-left: 0;
        margin-top: 10px;
    }

    .black-horizontal-text{
        min-width: 200px;
        width: 100%;
    }
    .black-horizontal-text2{
        min-width: 320px;
        width: 100%;
    }
    .black-horizontal-text3{
        min-width: 187.1px;
        width: 100%;
    }

    .black-horizontal-mobile::-webkit-scrollbar {
        height: 8px;
    }
    .black-horizontal-mobile::-webkit-scrollbar-thumb {
        background: #888;
        border-radius: 4px;
    }
    .black-horizontal-mobile::-webkit-scrollbar-thumb:hover {
        background: #555;
    }
}

.small-text1{
    margin-top: 50px;
    padding: 50px;
    display: flex;
}

.small-text1 h1{
    font-size: 45px;
    background-color: #B9FF66;
    max-width: fit-content;
    height: auto;
    border-radius: 5px;
}

.small-text1 p{
    position: absolute;
    margin-left: 500px;
    font-size: 20px;
    max-width: 350px;
}

@media (max-width: 769px) {
    .small-text1 h1{
        text-align: center;
    }

    .small-text1 p{
        text-align: center;
        margin-top: 140px;
        margin-left: -10px;
    }
}

/*accordion*/
.accordion-item {
    border: 1px solid #000;
    border-radius: 20px;
    box-shadow: 0px 6px 0px #000;
    margin-top: 30px;
    margin-left: 50px;
    overflow: hidden;
    transition: background-color 0.3s ease;
    background-color: #fff;
    max-width: 1380px;
    width: 100%;
}

.accordion-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 20px;
    cursor: pointer;
}

.accordion-header .number {
    font-size: 50px;
    font-weight: bold;
    margin-right: 10px;
}

.accordion-header .title {
    flex-grow: 1;
    font-weight: bold;
    font-size: 30px;
    margin-top: 4px;
}

.accordion-header .toggle {
    border: 1px solid #000;
    background: #fff;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    pointer-events: none;
}

.accordion-content {
    margin-top: 20px;
    border-top: 2px solid black;
    padding: 0 20px;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: max-height 0.4s ease, opacity 0.3s ease, padding 0.3s ease;
}

.accordion-item.open {
  background-color: #b0ff66;
}

.accordion-item.open .accordion-content {
    max-height: 500px;
    padding: 50px 20px;
    padding-bottom: 20px;
    opacity: 1;
}

/* Default: Desktop */

@media (max-width: 768px) {
    .accordion-item {
        max-width: 410px;
        width: 100%;
        margin-left: 10px;
        margin-right: 0;
        border-radius: 15px;
        box-shadow: 0px 4px 0px #000;
    }

    .accordion-header {
        flex-wrap: wrap;
        padding: 10px 15px;
    }

    .accordion-header .number {
        font-size: 28px;
        margin-bottom: 5px;
    }

    .accordion-header .title {
        font-size: 20px;
        margin-top: 0;
    }

    .accordion-header .toggle {
        width: 28px;
        height: 28px;
        font-size: 16px;
    }

    .accordion-item.open .accordion-content {
        padding: 20px 15px;
    }
}


.teams{
    margin-top: 30px;
    padding: 50px;
    display: flex;
}

.teams h1{
    font-size: 45px;
    background-color: #B9FF66;
    max-width: fit-content;
    height: auto;
    border-radius: 5px;
}

.teams p{
    position: absolute;
    margin-left: 140px;
    font-size: 20px;
    max-width: 500px;
}

@media (max-width: 769px) {
    .teams {
        margin-left: 120px;
    }
    .teams p {
        margin-top: 90px;
        text-align: center;
        margin-left: -165px;
    }
}

/*card team*/

.card-team {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 40px;
    max-width: 1400px;
    margin: 30px auto;
    padding: 0 20px;
}

@media (max-width: 769px){
    .card-team{
        margin-top: 100px;
    }
}

.card-team1 {
    border: 2px solid black;
    border-radius: 20px;
    padding: 40px 30px;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 6px 0 black;
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profile-img {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.text-info {
    flex: 1;
    margin-left: 10px;
}

.text-info h3 {
    margin: 0;
    font-size: 20px;
    font-weight: 700;
}

.text-info h6 {
    margin: 0;
    font-size: 16px;
    font-weight: 400;
    color: #444;
}

.linkedin-icon {
    width: 25px;
    height: 25px;
}

.card-team1 hr {
    margin: 20px 0;
    border: 1px solid black;
}

.card-team1 p {
    font-size: 16px;
    line-height: 1.8;
    color: #222;
}

.see-all-team {
    display: block;
    margin-left: auto;
    margin-right: 70px;
    margin-top: 40px;
    margin-bottom: 40px;
    background-color: black;
    color: white;
    padding: 15px 30px;
    border-radius: 10px;
    font-size: 18px;
    text-align: center;
    cursor: pointer;
    transition: all 0.2s ease;
    text-decoration: none;
    font-family: "Space Grotesk", sans-serif;
    width: fit-content;
}

.see-all-team:hover {
    transform: scale(1.05);
}

@media (max-width: 769px){
    .see-all-team {
        margin-left: 20px;
        min-width: 388px;
    }
}


/*testimonial*/

.testimonial-txt{
    margin-top: 50px;
    padding: 50px;
    display: flex;
}

.testimonial-txt h2{
    font-size: 45px;
    background-color: #B9FF66;
    max-width: fit-content;
    height: auto;
    border-radius: 5px;
}

.testimonial-txt p{
    position: absolute;
    margin-left: 330px;
    font-size: 20px;
    max-width: 520px;
}

@media (max-width: 769px) {
    .testimonial-txt h2 {
        margin-left: 40px;
    }

    .testimonial-txt p{
        margin-top: 100px;
        margin-left: -40px;
        text-align: center;
    }
}

/*testimonial comments*/

.testimonial-all {
    display: flex;
    flex-direction: column;
    border-radius: 30px;
    background-color: #000;
    margin-top: 20px;
    max-width: 1380px;
    width: 100%;
    height: auto;
    margin-left: 70px;
    padding-bottom: 20px;
}

.testimonial-nav {
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    flex-wrap: nowrap;
    gap: 20px;
    padding: 40px;
}

.nav {
    display: flex;
    justify-content: center;
    margin-top: -50px;
}

.Testimonial-card {
    position: relative;
    border: 2px solid #B9FF66;
    border-radius: 20px;
    background-color: #000;
    min-width: 600px;
    height: 220px;
    color: white;
    text-align: left;
    margin-top: 60px;
    margin-bottom: 200px;
}

.rotate-square{
    width: 60px;
    height: 60px;
    background-color: #000000;
    transform: rotate(45deg);
    border-right: 2px solid #B9FF66;
    border-bottom: 2px solid #B9FF66;
    margin-top: 14px;
    margin-left: 40px;
}

.Testimonial-card h2 {
    margin-top: 45px;
    font-weight: 100;
    font-size: 15px;
    max-width: 470px;
    padding-left: 70px;
}

.Testimonial-card h1,
.Testimonial-card p {
    position: absolute;
    left: 70px;
}

.Testimonial-card h1 {
    bottom: -100px;
    font-weight: 400;
    font-size: 15px;
    color: #B9FF66;
}

.Testimonial-card p {
    bottom: -120px;
    font-weight: 100;
    font-size: 15px;
    color: #ffffff;
}

@media (max-width: 769px) {
    .testimonial-all {
        margin-left: 10px;
        margin-top: 110px;
        max-width: 500px;
        width: 95%;
    }
    .testimonial-nav {
        gap: 30px;
    }
    .Testimonial-card {
        max-height: 330px;
        height: 100%;
        min-width: 340px;
    }
    .Testimonial-card h2 {
        max-width: 300px;
        margin-left: -20px;
    }
    .rotate-square {
        margin-top: 32px;
    }
}

/*contact us*/

.contact-us{
    margin-top: 50px;
    padding: 50px;
    display: flex;
}

.contact-us h2{
    font-size: 45px;
    background-color: #B9FF66;
    max-width: fit-content;
    height: auto;
    border-radius: 5px;
}

.contact-us p{
    position: absolute;
    margin-left: 300px;
    font-size: 20px;
    max-width: 350px;
}

@media (max-width: 769px) {
    .contact-us h2 {
        margin-left: 40px;
    }

    .contact-us p{
        margin-top: 100px;
        margin-left: -10px;
        text-align: center;
    }
}

/*email*/

.contact-form {
    display: flex;
    align-items: flex-start;
    background-color: #f5f5f5;
    border-radius: 30px;
    padding: 40px;
    gap: 40px;
    max-width: 1400px;
    width: 100%;
    margin-left: 40px;
}

.form-toggle {
    display: flex;
    gap: 24px;
    margin-bottom: 30px;
}

.toggle-option {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
}

.toggle-option input[type="radio"]:checked::before {
    content: "";
    position: absolute;
    top: 4px;
    left: 4px;
    width: 10px;
    height: 10px;
    background-color: #B9FF66;
    border-radius: 50%;
}

.form-left {
    margin-top: 10px;
    flex: 1;
}


.form-group {
    margin-bottom: 60px;
    display: flex;
    flex-direction: column;
    max-width: 700px;
}

label {
    font-weight: 500;
    margin-bottom: 8px;
    font-size: 14px;
}

input,
textarea {
    border: 1.5px solid #000;
    border-radius: 10px;
    padding: 12px 16px;
    font-size: 14px;
    font-family: inherit;
}

input:focus,
textarea:focus {
    outline: none;
    border-color: #B9FF66;
}

textarea {
    resize: none;
    height: 120px;
}

.submit-btn {
    background-color: #111117;
    color: white;
    border: none;
    padding: 14px 0;
    border-radius: 10px;
    font-size: 16px;
    width: 100%;
    cursor: pointer;
    max-width: 600px;
}

.form-right {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-right: 20px;
}

.form-right img {
    margin-top: 50px;
    max-width: 700px;
    height: auto;
}

@media (max-width: 769px) {
    .contact-form {
        margin-top: 100px;
        max-width: 500px;
        width: 92%;
        margin-left: 20px;
    }
    .form-right{
        display: none;
    }
}

/*footer*/

.footer-all{
    margin-top: 50px;
    margin-left: 50px;
    height: 600px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    position: absolute;
    background-color: black;
    max-width: 1400px;
    width: 100%;
}

.footer {
    align-items: center;
    width: 100%;
    justify-content: space-between;
    padding: 30px 40px;
    max-width: 1300px;
    width: 100%;
    display: flex;
}

.logo-btm {
    height: 40px;
}

.text-btm {
    align-items: center;
    display: flex;
}

.menu-btm {
    text-decoration: none;
    font-size: 20px;
    margin-left: 30px;
    padding: 10px 15px;
    border: 2px solid transparent;
    transition: transform 200ms ease;
    color: rgb(255, 255, 255);
}

.menu-btm:hover {
    border: 2px solid black;
    border-radius: 10px;
    transform: scale(1.1);
}

.contact-us-btm{
    margin-bottom: 10px;
    padding: 50px;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
}

.contact-us-btm h2{
    font-size: 45px;
    background-color: #B9FF66;
    max-width: fit-content;
    height: auto;
    border-radius: 5px;
}

.pp{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20px;
    max-width: 350px;
    color: white;
    font-weight: 100;
}

.ppp{
    margin-top: 1px;
    font-size: 20px;
    max-width: 400px;
    color: white;
    font-weight: 100;
}

.email-btm {
    margin-left: 450px;
}

.background-colour {
    display: flex;
    align-items: center;
    background-color: #292A32;
    max-width: 700px;
    border-radius: 10px;
    height: 200px;
    margin: -300px auto 0 auto;
    padding: 0 40px;
    gap: 20px;
}

.email-input {
    flex: 1;
    padding: 14px 20px;
    border-radius: 8px;
    border: none;
    font-size: 16px;
}

.button-btm {
    background-color: #B9FF66;
    border: none;
    padding: 14px 24px;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    font-size: 16px;
}

.copyright {
    border-top: 2px solid white;
    display: flex;
    gap: 90px;
    color: white;
    margin-top: 120px;
    margin-left: 50px;
    max-width: 1150px;
    padding-top: 20px;
}

.sicon-btm{
    display: none;
}

.menu-btm1 {
    display: block;
}

@media (max-width: 769px){
    .footer-all {
        margin-left: 0;
        max-width: 600px;
        width: 101%;
        border-radius: 0px;
        min-height: 1600px;
        justify-content: center;
        display: flex;
        flex-direction: column;
    }
    .logo-btm {
        position: absolute;
        margin-top: -400px;
        margin-left: 80px;
    }
    .text-btm {
        margin-top: 100px;
        margin-left: 80px;
        gap: 30px;
        display: flex;
        flex-direction: column;
    }
    .menu-btm1{
        display: none;
    }
    .sicon-btm {
        display: block;
        margin-top: 40px;
        margin-left: 50px;
    }
    .contact-us-btm {
        margin-left: 50px;
    }
    .email-btm{
        margin-left: 40px;
        margin-top: 300px;
        min-width: 250px ;
        width: 80%;
    }
    .email-input{
        margin-left: -50px;
        max-width: 320px;
        margin-top: -80px;
    }
    .button-btm {
        margin-top: 100px;
        margin-left: -300px;
        min-width: 250px;
    }
    .copyright {
        flex-direction: column;
        align-items: center;
    }
}